/* General */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", serif;
  line-height: 1.5;
  overflow-x: hidden;
}

header,
h1,
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

a {
  color: green;
  text-decoration: none;
}

/* Cabecera */

body > header {
  height: 75vh;
  background-image: url(../images/fondo/maristas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;

  height: 100vh;
  background-size: cover;
}

header .top {
  background-color: white;
  height: 20vh;
  width: 100%;
}

header .top h1 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
  font-size: 5em;
}

header .top h2 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
}

header .logo {
  position: absolute;
  top: 20px;
  left: 2.25%;
  height: 18vh;
  border-radius: 100px;
  width: 18vh;
}

/* Menu */

.menu {
  position: fixed;
  top: 65px;
  right: 120px;
  background: #0faf0fde;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.close {
  position: fixed;
  z-index: 10;
  top: 2em;
  right: 12vw;
  width: 6vw;
  cursor: pointer;
  border-radius: 10px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    -225deg,
    #18b425 0%,
    #087428 50%,
    #157540 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.35s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.spread {
  transform: translate(0);
}

.navigation a {
  color: #fff;
  text-decoration: none;
  width: 75%;
}

/* Util */

.spacing {
  display: block;
  height: 3em !important;
}

.buttom {
  border-radius: 0.5em;
  background-color: green;
  color: white;
  padding: 0.5em;
}

/* Contenido */

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-image: url(../images/fondo/category.png);
}

.container header {
  border-style: solid;
  border-color: green;
  border-width: 10px 0 10px 0;
  text-align: center;
  background-color: white;
}

.container header h1 {
  font-size: 3em;
  font-weight: bolder;
  color: green;
}

.container header p {
  margin-top: 1em;
  font-size: 2em;
}

.container section {
  font-size: x-large;
  padding: 1em;
}

.container section em {
  color: green;
  font-style: normal;
  font-weight: bold;
}

.container section h1 {
  text-align: center;
  padding: 0.5em;
}

.container .poster {
  background-image: url(../images/fondo/poster.png);
  background-color: #00ac37;
  text-align: center;
  margin: 1em 0;
}

.container .poster img,
.container .poster object {
  width: 75%;
}

.container .poster object {
  height: 100vh;
}

.display {
  text-align: center;
  margin-top: 1em;
}

.display h1 {
  font-size: 3em;
}

.display .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.display .content div {
  margin: 0.5em;
}

.display .content div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display .content img {
  width: 75%;
}

/* Custom */

#comites .content div {
  width: 15em;
  height: 20em;
}

#comites .content div div {
  width: 15em;
  height: 15em;
  background-color: green;
  border-radius: 50%;
}

/* Media updates */

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  body > header {
    height: 100vh;
    background-size: cover;
  }

  header .top {
    height: 40vh;
  }

  header .logo {
    top: 5vw;
    left: 10vw;
    height: 40vw;
    width: 40vw;
  }

  header .top h1 {
    position: relative;
    top: 45vw;
    left: 5px;
    font-size: 4em;
  }

  header .top h2 {
    position: relative;
    top: 45vw;
    left: 5px;
  }

  .container section h1 {
    padding: 0;
  }

  .display h1 {
    font-size: 2em;
  }

  .menu {
    top: 2em;
    right: 6vw;
  }

  .container .poster {
    padding: 0;
    background-image: none;
    background-color: unset;
  }

  .container .poster img,
  .container .poster object {
    width: 100%;
  }

  #comites .content div {
    width: 10em;
    height: 15em;
  }

  #comites .content div div {
    width: 10em;
    height: 10em;
  }
}
