/* General */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", serif;
  line-height: 1.5;
}

header,
h1,
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

a {
  color: green;
  text-decoration: none;
}

/* Cabecera */

body > header {
  height: 75vh;
  background-image: url(../img/colegio-chiquinquiracc81-maracaibo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header .top {
  background-color: white;
  height: 20vh;
  width: 100%;
}

header .top h1 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
  font-size: 5em;
}

header .top h2 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
}

header .logo {
  position: absolute;
  top: 20px;
  left: 2.25%;
  height: 18vh;
  border-radius: 100px;
  width: 18vh;
}

/* Menu */

.menu {
  position: fixed;
  z-index: 10;
  top: 65px;
  right: 120px;
  background: #0faf0fde;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.close {
  position: fixed;
  z-index: 10;
  top: 2em;
  right: 12vw;
  width: 6vw;
  cursor: pointer;
  border-radius: 10px;
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    -225deg,
    #18b425 0%,
    #087428 50%,
    #157540 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.35s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.spread {
  transform: translate(0);
}

.navigation a {
  color: #fff;
  text-decoration: none;
}

/* Contenido */

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-image: url(../images/fondo/category.png);
}

.container header {
  border-style: solid;
  border-color: green;
  border-width: 10px 0 10px 0;
  text-align: center;
  background-color: white;
}

.container header h1 {
  font-size: 3em;
  font-weight: bolder;
  color: green;
}

.container header p {
  margin-top: 1em;
  font-size: 2em;
}

.container section {
  font-size: x-large;
  padding: 1em;
}

.container section em {
  color: green;
  font-style: normal;
  font-weight: bold;
}

.container section h1 {
  text-align: center;
  padding: 0.5em;
}

.container .poster {
  background-image: url(../images/fondo/poster.png);
  background-color: #00ac37;
  text-align: center;
}

.container .poster img {
  width: 75%;
}

.display {
  text-align: center;
}

.display h1 {
  font-size: 3em;
}

.display .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.display .content div {
  margin: 0.5em;
}

.display .content div div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display .content img {
  width: 75%;
}

/* Custom */

#comites .content div {
  width: 15em;
  height: 20em;
}

#comites .content div div {
  width: 15em;
  height: 15em;
  background-color: green;
  border-radius: 50%;
}

/* viejo */

.subtitulo {
  background-position: center;
  background-size: contain;
  height: fit-content;
  width: 330px;
  display: inline-block;
  margin-bottom: 40px;
}
.container-galeria {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery {
  object-fit: cover;
  background: #f2f2f2;
  width: 33%;
  display: inline-block;
  margin-bottom: 40px;
  box-shadow: 0 0 6px rgba(192, 181, 181, 0.648);
  cursor: pointer;
}

.imagen-light {
  position: fixed;
  background: rgba(0, 0, 0, 0.548);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

.show {
  transform: translate(0);
}

.agregar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transition: scale(0);
  transition: transform 0.3s 0.2s;
}

.showImage {
  transform: scale(1);
}

/* footer */

footer {
  background: #554c5c;
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;

  position: relative;
  top: 50%;
}

.contac-us {
  width: 40%;
  color: #fff;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background: #fff;
  color: #7640ba;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}
.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 200px;
  background: #fff;
  margin-bottom: 600px;
}

/* Media updates */

@media screen and (max-width: 800px) {
  .navigation {
    width: 50vw;
  }
  .titulo {
    font-size: 40px;
  }
  .container-servicio img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-servicio {
    width: 80%;
  }
  .service {
    margin-bottom: 30px;
  }
  .agregar-imagen {
    width: 80%;
  }
  .gallery {
    width: 45%;
  }
  .cont-instructor {
    width: 70%;
  }
  .n-instructores {
    text-align: center;
  }
  .footer-content {
    justify-content: center;
  }
  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }
  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .titulo {
    font-size: 180px;
  }
  .navigation {
    width: 65vw;
  }

  .menu {
    top: 20px;
    right: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 20px;
    text-align: center;
  }

  .agregar-imagen {
    width: 95%;
  }

  .gallery {
    width: 95%;
  }

  .social-media {
    width: 100%;
  }

  .contac-us {
    width: 90%;
  }
}
