/* General */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", serif;
  line-height: 1.5;
  overflow-x: hidden;
}

header,
h1,
h2 {
  font-family: "Rubik", sans-serif;
  font-weight: normal;
}

a {
  color: green;
  text-decoration: none;
}

/* Cabecera */

body > header {
  height: 75vh;
  background-image: url(../imagenes/fondo/maristas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100%;

  height: 100vh;
  background-size: cover;
}

header .top {
  background-color: white;
  height: 20vh;
  width: 100%;
}

header .top h1 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
  font-size: 5em;
  width: 75%;
}

header .top h2 {
  position: relative;
  top: 0.5vh;
  left: 25vh;
  width: 75%;
}

header .logo {
  position: absolute;
  top: 20px;
  left: 2.25%;
  height: 18vh;
  border-radius: 100px;
  width: 18vh;
}

/* Menu */

.menu {
  z-index: 2;
  position: fixed;
  top: 65px;
  right: 120px;
  background: #0faf0fde;
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.close {
  position: fixed;
  z-index: 10;
  top: 2em;
  right: 12vw;
  width: 6vw;
  cursor: pointer;
  border-radius: 10px;
}

.navigation {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    -225deg,
    #18b425 0%,
    #087428 50%,
    #157540 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.35s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.548);
}

.spread {
  transform: translate(0);
}

.navigation a {
  color: #fff;
  text-decoration: none;
  width: 75%;
}

/* Util */

.spacing {
  display: block;
  height: 3em !important;
}

.buttom {
  border-radius: 0.5em;
  background-color: green;
  color: white;
  padding: 0.5em;
}

/* Contenido */

.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
  background-image: url(../imagenes/fondo/category.svg);
  background-size: 100%;
  object-fit: contain;
}

.container header {
  border-style: solid;
  border-color: green;
  border-width: 10px 0 10px 0;
  text-align: center;
  background-color: white;
}

.container header h1 {
  font-size: 3em;
  font-weight: bolder;
  color: green;
}

.container header p {
  margin-top: 1em;
  font-size: 2em;
}

.container section {
  font-size: x-large;
  padding: 1em;
}

.container section em {
  color: green;
  font-style: normal;
  font-weight: bold;
}

.container section h1 {
  text-align: center;
  padding: 0.5em;
}

.container .poster {
  background-image: url(../imagenes/fondo/poster.png);
  background-color: #00ac37;
  text-align: center;
  margin: 1em 0;
}

.container .poster img,
.container .poster object {
  width: 75%;
}

.container .poster object {
  height: 100vh;
}

.poster a {
  color: white;
  text-decoration: underline;
}

.display {
  text-align: center;
  margin-top: 1em;
}

.display h1 {
  font-size: 3em;
}

.display .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.display .content > div {
  margin: 0.5em;
}

.display .content div div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.display .content h2,
.display .content p {
  width: 75%;
  margin: auto;
}

.display .content img {
  width: 75%;
}

/* Custom */

#comites .content div div {
  width: 30vw;
  height: 30vw;
  background-color: green;
  border-radius: 50%;
}

#razones .content img {
  width: 20vw;
}

/* Media updates */

@media only screen and (max-height: 800px) {
  header .top {
    height: 60vh;
  }
  .menu {
    top: 50px;
    right: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  #razones .content img {
    width: 240px;
  }
  #comites .content div div {
    width: 240px;
    height: 240px;
  }

  header #contador {
    position: relative;
    width: 50%;
    padding: 0;
    background-size: initial;
  }

  header #contador div {
    width: 80%;
  }

  header #contador .texto {
    width: 110%;
    padding: 200px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 10px;
  }

  .container header h1 {
    font-size: 1.8em;
  }

  body > header {
    height: 100vh;
    background-size: cover;
  }

  header .top {
    height: 40vh;
  }

  header .logo {
    top: 5vw;
    left: 10vw;
    height: 40vw;
    width: 40vw;
  }

  header .top h1 {
    position: relative;
    top: 45vw;
    left: 5px;
    font-size: 4em;
  }

  header .top h2 {
    position: relative;
    top: 45vw;
    left: 5px;
  }

  .container section h1 {
    padding: 0;
  }

  .display h1 {
    font-size: 2em;
  }

  .menu {
    top: 2em;
    right: 6vw;
  }

  .container .poster {
    padding: 0;
    background-image: none;
    background-color: unset;
  }

  .poster a {
    color: green;
  }

  .container .poster img,
  .container .poster object {
    width: 100%;
  }

  #comites .content div div {
    width: 12em;
    height: 12em;
  }

  #razones .content img {
    width: 12em;
  }

  header > .countdown {
    width: 100%;
    height: 10%;
    display: flex;
    top: 40%;
  }

  header > .countdown div {
    position: relative;
    width: 50%;
    background-size: cover;
    font-size: 2.5em;
  }

  header > .countdown #dias:before {
    width: 100%;
    top: 75px;
  }

  header > .countdown #horas:before {
    width: 100%;
    top: 75px;
  }

  header > .countdown #minutos:before {
    width: 100%;
    top: 75px;
  }

  header > .countdown #segundos:before {
    width: 100%;
    top: 75px;
  }

  .countdown div:before {
    width: 90%;
  }
}

.countdown {
  display: inline-flex;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  border: 3px solid rgba(15, 173, 15, 0);
  height: 135px;
  top: 45%;
  position: relative;
}

.countdown div {
  position: relative;
  width: 120px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  margin: 0 10px;
  font-size: 3em;
  font-weight: 500;
  object-fit: cover;
}

.countdown div:before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 120px;
  height: 35px;
  background: rgb(15, 173, 15);
  color: #fff;
  font-size: 0.4em;
  line-height: 35px;
  font-weight: 600;
  font-family: "Arvo", serif;
  object-fit: cover;
}

.countdown #dias:before {
  content: "Dias";
  width: 100%;
  object-fit: cover;
}

.countdown #horas:before {
  content: "Horas";
  width: 100%;
  object-fit: cover;
}

.countdown #minutos:before {
  content: "Minutos";
  width: 100%;
  object-fit: cover;
}

.countdown #segundos:before {
  content: "Segundos";
  width: 100%;
  object-fit: cover;
}

/*-------------- Galeria de imagenes--------------------*/

.galeria {
  display: flex;
  width: 88%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  z-index: 1;
}

.galeria .foto {
  top: 45px;
  width: 400px;
  height: 400px;
  position: relative;
  margin-bottom: 35px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
  transition: 0.6s ease;
}
.galeria .foto:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}

.foto img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    -225deg,
    #18b425 0%,
    #087428 50%,
    #157540 100%
  );
  opacity: 0.85;
  width: 100%;
  height: 0;
  transition: 0.55s ease;
  overflow: hidden;
}
.overlay h2 {
  color: hsl(110, 9%, 87%);
  font-size: 22.5px;
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.foto:hover .overlay {
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
}

/*---------------------*/

.contenedor-modal.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 2;
}
.contenedor-modal.active img {
  z-index: 3;
  width: 700px;
  height: 700px;
}

.contenedor-modal.active::after {
  position: fixed;
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(211, 211, 211, 0.459);
}
